div.threesixty {
    width: auto;
    height: auto;
}

div.threesixty-title {
    background-color: green;
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

div.threesixty-title img {
    width: 100%;
    height: auto;
    order: 1;
}

div.threesixty-title h1 {
    color: white;
    order: 2;
    font-size: calc(3vw + 3vh + 1vmin);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: center;
}

.noselector {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}