div.threesixty {
    width: auto;
    height: auto;
}

div.threesixty-title {
    background-color: green;
    width: 100%;
    height: auto;
    position: relative;
    top: -1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.threesixty-title img {
    width: 40%;
    height: auto;
    order: 2;
}

div.threesixty-title h1 {
    color: white;
    order: 1;
    padding-right: 2rem;
    text-align: center;
    font-size: calc(4vw + 4vh + 1vmin);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.noselector {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}